.git
.github
.vscode
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
.env
.env.local
.env.production
_ide_helper*
.phpunit.result.cache
.phpstorm.meta.php
tests
