includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpat/phpat/extension.neon

parameters:
    level: 8
    paths:
        - app/
        - tests/Architecture/
    excludePaths:
        - app/Filament/

services:
    - class: Tests\Architecture\ArchitectureTest
      tags:
          - phpat.test
